docs/*	linguist-documentation
data/*	linguist-vendored
*.R	linguist-language=R
*.py	linguist-language=Python
*.js	linguist-language=JavaScript
*.html	linguist-language=HTML
*.sh	linguist-language=BASH
*.sql	linguist-language=SQL
*.fa.gz filter=lfs diff=lfs merge=lfs -text
*.fa.gz.fai filter=lfs diff=lfs merge=lfs -text
