# General
*~
*.bak
tmp/
temp/

# Apple nonsense
.DS_Store

# RStudio
*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.tar.gz
.Rproj.user

# Python
venv
wenv
__pycache__
*.pyc
*$py.class
*.egg
*.egg-info

# Config files
*.yml

# Log files
*.log*
*.log.errors*

# Eclipse
.project
.classpath
.settings
.pydevproject

# Miscellaneous others from the Pyramid cookie cutter.
build/
dist/
.coverage
coverage.xml
.tox/
nosetests.xml
env*/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
coverage
test

# Default plotly output file
temp-plot.html

# Data file
*.json
