# General
*~
*.bak
tmp/
temp/

# Apple nonsense
.DS_Store

# Python
venv
__pycache__
*.pyc
*$py.class
*.egg
*.egg-info

# Config files
*.yml

# Log files
*.log*
*.log.errors*

# Eclipse
.project
.classpath
.settings
.pydevproject

# File based database
geneditid.sqlite

# Projects folder
GEPIDs/

# Miscellaneous
