# Apple nonsense
.DS_Store

# RStudio
*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.tar.gz
.Rproj.user

# Python
venv
__pycache__
*.pyc

# Config files
*.yml

# Log files
*.log*
*.log.errors*

# Eclipse
.project
.classpath
.settings
.pydevproject
