################################################################################
### database
################################################################################

# Copy this file as "crispr.yml" and set the URI appropriate for your database.

# Local SQLite database
#DATABASE_URI: "sqlite:///crispr.sqlite"

# Local Postgres database
#DATABASE_URI: "postgresql://gene:gene@localhost/geneediting"

# Shared Postgres database on bioinf-ge001
#DATABASE_URI: "postgresql://gene:gene@bioinf-ge001.cri.camres.org/geneediting"