################################################################################
### database
################################################################################

# Copy this file as "crispr.yml" and set the URI appropriate for your database.

# Local SQLite database
#DATABASE_URI: "sqlite:///geneditid.sqlite"

# Local Postgres database
#DATABASE_URI: "postgresql://gene:gene@localhost/geneditid"

# Shared Postgres database on linux server
#DATABASE_URI: "postgresql://gene:gene@<HOST_URL>/geneditid"
