.warning
{
  color:        orange;
}

.error
{
  color:        red;
}

table#udftable
{
    border: none;
    border-collapse: collapse;
}

table#udfTable td
{
    padding: 4px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

label
{
    font-weight: normal;
}