# ------------------------------------------------------------------------------
# Input data
# Search Ensembl Gene ID http://www.ensembl.org/index.html
# ------------------------------------------------------------------------------

# input data for GEP00009
# FTO
gene_id: 'ENSG00000140718'
fprimer_seq: 'TCCAGGGCGAGGGATCTAC'
rprimer_seq: 'GCCATCAAACCAAGCCCTTC'
fastq_dir: '/Users/pajon01/mnt/scratchb/genome-editing/GEP00009/fastq/'

fastq_extension: '.fqjoin.gz'
quality_threshold: 10  # default should be 10
frequency_threshold: 5  # default should be 5
