# ------------------------------------------------------------------------------
# Input data
# Search Ensembl Gene ID http://www.ensembl.org/index.html
# ------------------------------------------------------------------------------

# input data for GEP00004
# submitted_gene_id = 'NC_000006.12'  # ref for chromosom 6!
# submitted_fprimer_seq = 'CTTTTATGTCTTCACAGGGCAGC'  # fprimer_seq
# submitted_rprimer_seq = 'GGTACTGCATTCCGGCCAT'  # = rprimer_seq, reverse complement
#gene_id = 'NG_032093'
#rprimer_seq = Seq('GGTACTGCATTCCGGCCAT', IUPAC.unambiguous_dna)
#rprimer_seq = str(rprimer_seq.reverse_complement())
#fprimer_seq = 'CTTTTATGTCTTCACAGGGCAGC'
#fastq_dir = '/Users/pajon01/mnt/scratchb/genome-editing/GEP00004/fastq/'

# input data for GEP00006
# submitted_gene_id = 'NC_000020.11'  # ref for chromosom 20!
# submitted_fprimer_seq = 'CTTGAGGTTGAAGGTGTTGC'  # = rpimer_seq, reverse complement
# submitted_rprimer_seq = 'GAGCTGCAGAACGGGAACT'  # = fprimer_seq
#gene_id = 'NG_007496'
#rprimer_seq = 'GCAACACCTTCAACCTCAAG'
#fprimer_seq = 'GAGCTGCAGAACGGGAACT'
#fastq_dir = '/Users/pajon01/mnt/scratchb/genome-editing/GEP00006/fastq/'

# input data for GEP00007
# submitted_gene_id = 'ARID1A'
# submitted_fprimer_seq = 'GCAAGATGAGACCTCAGCCA'  # fprimer_seq
# submitted_rprimer_seq = 'TGGACAGCAACAAGGGTCAA'  # = rprimer_seq, reverse complement
#gene_id = 'NG_029965'
#rprimer_seq = Seq('TGGACAGCAACAAGGGTCAA', IUPAC.unambiguous_dna)
#rprimer_seq = str(rprimer_seq.reverse_complement())
#fprimer_seq = 'GCAAGATGAGACCTCAGCCA'
#fastq_dir = '/Users/pajon01/mnt/scratchb/genome-editing/GEP00007/fastq/'

# input data for GEP00011
# submitted_gene_id = 'ETV6'
# submitted_fprimer_seq = 'GCTTTCATTGTCTCTCTCCCC'  # fprimer_seq
# submitted_rprimer_seq = 'GTCACGAACACTCACGCAG'  # = rprimer_seq, reverse complement
# gene_id: 'NG_011443'
# rprimer_seq: 'GTCACGAACACTCACGCAG'
# fprimer_seq: 'GCTTTCATTGTCTCTCTCCCC'
# fastq_dir: '/Users/pajon01/mnt/scratchb/genome-editing/GEP00011/fastq_withwater/'

# input data for GEP00012
#gene_id: 'NM_017628'
#rprimer_seq: 'GGAGACACCAAGTGGCACTC'
#fprimer_seq: 'TCAACTAGAGGGCAGCCTTG'
#fastq_dir: '/Users/pajon01/mnt/scratchb/genome-editing/GEP00012/fastq/'

# input data for GEP00013
# gene_id: 'ENST00000540759'
# fprimer_seq: 'GGGCCCCAGAAATTCAAAGG'
# rprimer_seq: 'AGAGCAGGAGGTCCAGTCAG'
# fastq_dir: '/Users/pajon01/mnt/scratchb/genome-editing/GEP00013/fastq/'

# input data for GEP00010
# FTO
gene_id: 'ENSG00000140718'
fprimer_seq: 'TCCAGGGCGAGGGATCTAC'
rprimer_seq: 'GCCATCAAACCAAGCCCTTC'
# LEPR
# gene_id: 'ENSG00000116678'
# fprimer_seq: 'TCCAGGACAGTTGCTCACAC'
# rprimer_seq: 'TCTCTCTCCCACCCACAACT'
# CCKAR
# gene_id: 'ENSG00000163394'
# fprimer_seq: 'TTCATGGCCACCTTCCCCT'
# rprimer_seq: 'TCTCCATCAGCTCTGCTCCT'
fastq_dir: '/Users/pajon01/mnt/scratchb/genome-editing/GEP00010/fastq/'

# input data for GEP00009
# FTO
# gene_id: 'ENSG00000140718'
# fprimer_seq: 'TCCAGGGCGAGGGATCTAC'
# rprimer_seq: 'GCCATCAAACCAAGCCCTTC'
# IRX5
# gene_id: 'ENSG00000176842'
# fprimer_seq: 'CCATGCCCGTGTGTG'
# rprimer_seq: 'GCTACAACTCGCACCTCCA'
# wt_seq: 'GCCATGTCCTATCCGCAGGGCTACTTGTACCAGCCGTCCGCCTCGCTGGCGCTCTACTCGTGCCCGGCGTACAGCACCAGCGTCATTTCGGGGCCCCGCACGGATGAGCTCGGCCGCTCTTCTTCGGGCTCCGCGTTCTCGCCCTACGCTGGCTCGACTGCC'
#fastq_dir: '/Users/pajon01/mnt/scratchb/genome-editing/GEP00009/fastq/'

fastq_extension: '.fqjoin.gz'
quality_threshold: 10  # default should be 10
frequency_threshold: 5  # default should be 5
