# config
pyyaml

# database
sqlalchemy==1.1.6
psycopg2==2.7

# parsing excel sheets
openpyxl
pandas
xlrd

# Web application
pyramid
pyramid_chameleon
pyramid_jinja2
pyramid_debugtoolbar
pyramid_tm
deform
transaction
zope.sqlalchemy
waitress
