web divided in four sections: project description, global data exploration, clone details, user report

Project description:
Core Genome Editing comments section: box to add comments about the project, that should be updatable and stored on the database along the project
- project global overview: tab 'Project' from the layout excel file
- project detailed overview (on demand, clicking somewhere): tabs 'Project', 'Target', 'Guide' and 'Guidemismatches' from the layout excel file

Data exploration:
plots for:
Protein abundance
Growth curves
Growth slopes
NGS exploratory plots
% Zygosities (‘homozygous’, ‘heterozygous’…)
% Alleles (e.g. C/CATG, CTAA/C)
% Distances from cut site
% Type of mutation (‘wt’, ‘insertion’, ‘deletion’, ‘SNV’)
% Type of variant (‘wt’, ‘frameshift’, ‘inframe’...)
INDEL ranges (visual location of alleles)
Combined plots (NGS + protein + growth slopes)

Clone details:
plot: 96-well plates for score-based clone selection
Data table
Per-clone plot of INDEL ranges
Visualisation of reads (.bam files) on igv browser (external) (ideally a link to the .bam that opens an igv server, or an igv installed locally on the user's computer)

User report for selected clones:
project global overview (tab 'Project' from the layout excel file)
plot INDEL ranges
Combined plot (clone vs controls)
Data table (see below) excluding Plate, Well, Sample name, Fluidigm barcode, Score and the IGV link.
Comments (this section is independent to the one described in 'project')



---------------
Data table: per project and plate layout (i.e. GEP00001_01 and no GEP00001_01_incu)
. We should be able to output data as soon as we have input (e.g. if there is protein data, show it regardless of presence of growth and NGS data). Ideally we could click on the 96-well plate and have the clone highlighted in this table, but this is not priority
Plate
Well
Sample name
Fluidigm barcode
Score (output NaN if no NGS data available)
Protein abundance (800/700) relative to wild type control (this needs to be calculated. Output NaN if no protein data available)
Protein abundance (800/700) relative to knock-out control (this needs to be calculated)
Growth slope relative to wild type control (this needs to be calculated. Output NaN if no growth data available)
Growth slope relative to knock-out control (this needs to be calculated)
(these below, columns from the variant output. Output NaN if no NGS data available )
Variant type/consequence
Symbol (Gene ID)
IGV link
Confidence
Allele fraction
Alleles




